---
layout: default
title: Preconference Workshops
categories: preconf
---

<div class="container-fluid" id="preconference">
    <div class="row">
        <div class="col-xs-12">
            <h2>Proposals for Preconference Workshops</h2>

            {% if site.data.conf.workshop-proposals.show %}
            <a class="btn btn-primary btn-lg pull-right" href="{{ site.data.conf.workshop-proposals.submission-form }}">
                Propose a Workshop
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Pre-conferences can either be a 1-day (six hour) or a 1/2-day (three hour) session and will occur on {{ site.data.conf.days[0].weekday }}, {{ site.data.conf.days[0].date }}, {{ site.data.conf.year }}.
            </p>
            <p>
                The pre-conference sessions give folks a space to share and build
                knowledge, as well as to teach attendees new skills relevant to library
                technology. Pre-conference sessions can range from workshops to working
                sessions. We welcome a variety of ideas and encourage submissions from
                first-time presenters and members of groups not well-represented within the
                Code4Lib community, including but not limited to: women, people of color,
                people with disabilities, LGBT+.
            </p>
            <p>
                If you're looking for inspiration, there are many great examples of pre-conferences from previous years.
                {% assign lastyear =  site.data.conf.year | minus: 1 %}
                <ul>{% for year in (2016..lastyear) reversed %}
                    <li><a href="http://{{year}}.code4lib.org/workshops/">{{year}} Conference</a></li>
                {% endfor %}</ul>
            </p>
            <p>
                We are taking proposals until
                {{ site.data.conf.workshop-proposals.end-date | date: '%A, %B %d' }}.
                After a period of public voting on workshops, we hope to confirm sessions with
                facilitators shortly after.
            </p>
            <p>
                If you have any questions, please do not hesitate to contact us by emailing <a href="mailto:{{ site.data.conf.workshop-contact-email }}">{{ site.data.conf.workshop-contact-email }}</a>.
            </p>
        </div>
    </div>
</div>
