<div class="row">
    <div class="col-xs-12 text-center" style="padding-bottom: 1em;">
        <h2 aria-labelledby="twitterHashtagLabel">
            <span class="icon  icon--twitter" alt="twitter icon">
                <svg viewBox="0 0 16 16" style="height: 38px; width: 38px;">
                    <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                        c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27
                        c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767
                        c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206
                        C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271
                        c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469
                        c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"></path>
                </svg>
            </span>
            <a href="https://twitter.com/hashtag/{{site.data.conf.hashtag}}" target="_blank">#{{ site.data.conf.hashtag }}</a></h2>
        <label class="sr-only" id="twitterHashtagLabel">Twitter Hashtag</label>
    </div>
    <div class="col-xs-12 col-md-3 event-day" data-date="{{ site.data.conf.days[0].date-data }}">
        <h2 class="text-center">{{site.data.conf.days[0].date | date: "%b. %d"}}</h2>
        {% include homepage/event_card.html time='am' link='/workshops' title='Preconference Workshops' description='Half and full-day workshops about tech, diversity, and more!' %}
        {% include homepage/event_card.html time='pm' link='/general-info/venues/#dinner' title='Newcomer Dinner' description='It is a Code4Lib tradition to welcome those who are new to the conference' %}
    </div>
    <div class="col-xs-12 col-md-3 event-day" data-date="{{ site.data.conf.days[1].date-data }}">
        <h2 class="text-center">{{site.data.conf.days[1].date | date: "%b. %d"}}</h2>
        {% include homepage/event_card.html time='am' link='/schedule/day-1' title='Conference, Day 1' description='Keynote #1 kicks off the conference then talks until 5' %}
        {% include homepage/event_card.html time='pm' link='/general-info/venues/#reception' title='Reception' description='Join us for the reception at The Tech Museum of Innovation' %}
    </div>
    <div class="col-xs-12 col-md-3 event-day" data-date="{{ site.data.conf.days[2].date-data }}">
        <h2 class="text-center">{{site.data.conf.days[2].date | date: "%b. %d"}}</h2>
        {% include homepage/event_card.html time='am' link='/schedule/day-2' title='Conference, Day 2' description='Talks until 5' %}
        {% include homepage/event_card.html time='pm' link='/general-info/venues/#gaming' title='Game Night' description='Come join fellow code4libers in a few board or card games' %}
    </div>
    <div class="col-xs-12 col-md-3 event-day" data-date="{{ site.data.conf.days[3].date-data }}">
        <h2 class="text-center">{{site.data.conf.days[3].date | date: "%b. %d"}}</h2>
        {% include homepage/event_card.html time='am' link='/schedule/day-3' title='Conference, Day 3' description='Keynote #2 closes the conference followed by talks until 12:30' %}
    </div>
    <div class="col-xs-12 text-center">
        <h2>Need help?</h2>
        <a href="/conduct/#officers" class="btn btn-primary btn-lg">Contact a Community Support Volunteer</a>
    </div>
</div>

{% include homepage/sponsor_block.html %}
