<section>
    <div class="col-xs-12">
        {% assign ad_sponsors = site.data.sponsors | where: "level","adamantium" %}
        {% assign di_sponsors = site.data.sponsors | where: "level","diamond" %}
        {% assign plat_sponsors = site.data.sponsors | where: 'level','platinum' %}

        {% if ad_sponsors.size > 0 or di_sponsors.size > 0 or plat_sponsors.size > 0 %}
            <h3>Thanks to our sponsors!</h3>
            {% if ad_sponsors.size > 0 %}
            <h4>Adamantium</h4>

            <div class="sponsor-group">
                {% for sponsor in ad_sponsors %}
                {% include sponsors/logo.html sponsor=sponsor class="col-xs-12 col-sm-4" %}
                {% endfor %}
            </div>
            {% endif %}

            {% if di_sponsors.size > 0 %}
            <h4>Diamond</h4>
            <div class="sponsor-group">
                {% for sponsor in di_sponsors %}
                {% include sponsors/logo.html sponsor=sponsor class="col-xs-12 col-sm-4" %}
                {% endfor %}
            </div>
            {% endif %}

            {% if plat_sponsors.size > 0 %}
            <h4>Platinum</h4>
            <div class="sponsor-group">
                {% for sponsor in plat_sponsors %}
                {% include sponsors/logo.html sponsor=sponsor class="col-xs-6 col-sm-3" %}
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    </div>
</section>