/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  background-color: #464745;
  bottom: 0;
  box-sizing: border-box;
  color: $footer-color;
  height: 21.6125em;
  left: 0;
  padding-top: 3em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;

  p {
    font-size: .8em;
  }

  a {
    color: $footer-link !important;

    &:hover,
    &:focus {
      color: $footer-hover;
    }
  }

  ul {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
  }
}

.username {
  background: $primary;
  border-radius: 5px;
  color: $gray-lighter;
  margin-left: 5px;
  padding: 5px 10px;

  &:focus,
  &:hover {
    background: $accent-light;
    border: 0;
    color: $black;
    text-decoration: none;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

p a:-webkit-any-link {

  &:not(.btn) {
    @include link-styles;

    &:hover,
    &:focus,
    &:active {
      @include link-styles-states;
    }
  }
}

.subfoot {
  text-decoration: underline;
}

@media (min-width: $screen-sm-min) {
  .footer {
    padding: 5em 0;
  }
}
