/* ==========================================================================
   Global
   ========================================================================== */

html {
  min-height: 100%;
  position: relative;
}

body {
  /* Margin bottom by footer height */
  color: $gray-base;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  margin-bottom: 20.3125em;
  padding-bottom: 20px;
}

// halve blockquote padding on smaller screens
@media screen and (max-width: $screen-sm) {
  blockquote {
    padding: ($line-height-computed / 4) ($line-height-computed / 2);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-sans-serif;
  letter-spacing: .02em;

  &.expo {
    border-bottom: 1px solid $gray-light;
  }
}

.navbar {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

p {
  line-height: 2em;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 0;
}

.modal-dialog {
  z-index: 1;
}

.sequence {
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
