/* ==========================================================================
   Homepage event-cards
   ========================================================================== */

.event-day {
  &.active {
    transform: scale(1.1);
  }
  &.past {
    opacity: .7;
  }
}

.event-card {
  background: $white;
  border-radius: 5px;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: .5em 0;
  overflow: hidden;
  padding: 0;
  min-height: 13em;
  width: 100%;

  .img-avatar {
    height: auto;
    width: 4em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    box-sizing: border-box;
    max-width: 100px;
    background: $white;
    --primary-color: #{$sponsor-badge-primary};
    --background-color: $white;
  }

  %card-content {
    padding: 1em;
  }

  .card-toolbar {
    @extend %card-content;
    background: $day-event;
    color: $white;
    height: 3em;

    .img-avatar {
      position: relative;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index: 999;
      padding: 0.2em;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .img-avatar:hover {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    &.night {
      background: $night-event;
    }
  }

  .card-body {
    @extend %card-content;
    padding: 1.5em 1em .4em;
    overflow: hidden;
    text-align: center;

    h3 {
      font-size: 1.5em;
    }

    p {
      color: #a1a1a1;
      margin: 0;
      line-height: initial;
    }
  }
}
