@mixin link-styles {
    border-bottom: 1px dotted;
    color: $primary-dark;
    text-decoration: none;
}

@mixin link-styles-states {
    background-color: $accent;
    border-bottom: 2px solid;
    text-decoration: none;
}