/* ==========================================================================
   Testimonials
   ========================================================================== */

#testimonials {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

#testimonials:before,
#testimonials:after {
  display: none;
}

.testimonial {
  display: none;
  float: none;
  flex: 1 1 auto;
}

.testimonial h3 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: 0;
}

.speech-bubble {
  color: $testimonial-color;
  background-color: $testimonial-bg;
  border: 1px solid $testimonial-border;
  border-radius: 5px;
  width: auto;
  padding: 20px;
  position: relative;
}

.speech-bubble .arrow {
  border-style: solid;
  position: absolute;
}

.bottom {
  border-color: $testimonial-bg transparent transparent transparent;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
}

.bottom:after {
  border-color: $testimonial-bg transparent transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0px 7px;
  bottom: 1px;
  content: "";
  position: absolute;
  left: -7px;
}

#testimonials .thumbnail {
  background-color: transparent;
  border: 0px;
}

@media (min-width: 992px) {
  #testimonials .thumbnail {
    min-height: 450px;
  }
}

#testimonials h2 {
  margin-bottom: 40px;
}
