---
layout: default
title: Proposed Panels
---

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8">
            <h3>Proposed Conference Panels</h3>
        </div>
        <div class="col-12 col-sm-4">
            {% if site.data.conf.panel-voting.show %}
                <a class="btn btn-warning float-right" href="{{ site.data.conf.panel-voting.url }}">Vote!</a>
            {% endif %}
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {% for panel in site.data.panel-proposals %}
            <div class="card panel-default">
                <div class="card-header" role="tab" id="{{ panel.timestamp }}Header">
                    <h4 class="card-title">
                        <a role="button" data-toggle="collapse" data-parent="#list-of-talks" href="#{{ panel.timestamp }}" aria-expanded="true" aria-controls="{{ panel.timestamp }}">
                            {{ panel.card-title }}
                        </a>
                    </h4>
                </div>
                <div id="{{ panel.timestamp }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="{{ panel.timestamp }}Header">
                    <div class="card-body">
                        <p>{{ panel.description }}<p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
