---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h3>Proposed Conference Panels</h3>
        </div>
        <div class="col-xs-12 col-sm-4">
            {% if site.data.conf.panel-voting.show %}
                <a class="btn btn-primary pull-right" href="{{ site.data.conf.panel-voting.url }}">Vote!</a>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            {% for panel in site.data.panel-proposals %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ panel.timestamp }}Header">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#list-of-talks" href="#{{ panel.timestamp }}" aria-expanded="true" aria-controls="{{ panel.timestamp }}">
                            {{ panel.panel-title }}
                        </a>
                    </h4>
                </div>
                <div id="{{ panel.timestamp }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ panel.timestamp }}Header">
                    <div class="panel-body">
                        <p>{{ panel.description }}<p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
