
<section class="general-info">
  <div class="col-12">
      <h2 id="dinner">Newcomer Dinner</h2>
      <p><strong>When: </strong>{{site.data.conf.newcomer-dinner.date | date: '%A, %B %-d, %Y'}}</p>
      <p>
          The Newcomer Dinner is an opportunity for veterans of the code4lib conference to meet and welcome first-timers. Attendees sign up to join others for dinner the night before the main sessions of conference begin.
          {% if site.data.conf.newcomer-dinner.signup-url != '' %}
             See <a target="blank" href="{{site.data.conf.newcomer-dinner.signup-url}}">information about   the dinner and the sign-up list here</a>. Attendees are responsible in assessing the   accessibility of the restaurant space of their choice.
          {% endif %}
      </p>

      <h3>Transportation</h3>
      <p>Attendees must arrange for their own transportation to the restaurants. 
      {% if site.data.conf.newcomer-dinner.activities-info != '' %}
              To get a sense of the locations and neighborhoods, you can check out the
              <a target="blank" href="{{site.data.conf.newcomer-dinner.activities-info}}">Activities Map</a>.
      {% endif %}
      </p>

      <p>
        For restaurants that are not close to the public transportation stops, we recommend <strong>carpooling</strong> with a local, calling a <strong>taxi</strong>, or using a <strong>ride share</strong> service.
        {% if site.data.conf.newcomer-dinner.transit-info != '' %}
            Here are some <a target="blank" href="{{site.data.conf.newcomer-dinner.transit-info}}">public transit options for the various neighborhoods</a> noted in the restaurant list.
        {% endif %}
      </p>


      <h3>Restaurant List</h3>
      <p>The majority of restaurants listed below are priced between $11-30 dollars.</p>
      <table class="table table-striped table-bordered" id="dinner-datatable">
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th>Type</th>
                    <th>Distance</th>
                    <th>Takes<br/>Reservations?</th>
                    <th>Vegetarian<br/>Friendly?</th>
                    <th>Vegan<br/>Friendly?</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in site.data.dinner %}
                <tr>
                    <td>
                      {% if restaurant.url != 'n/a' %}
                        <a href="{{restaurant.url}}">{{ restaurant.restaurant-name }}</a>
                      {% else %}
                        {{ restaurant.restaurant-name }}
                      {% endif %}
                        {% if restaurant.notes or restaurant.accessibility-notes %}
                         <i tabindex="0" class="fas fa-question-circle fa-sm" data-toggle="tooltip" title="{{ restaurant.notes }} {{ restaurant.accessibility-notes }}"></i>
                        {% endif %}
                    </td>
                    <td>{{ restaurant.type-of-food }}</td>
                    <td>{{ restaurant.distance-from-hotel }}</td>
                    <td>{% if restaurant.takes-reservations == true %}Yes{% else %}No{% endif %}</td>
                    <td>{% if restaurant.vegetarian-options == true %}Yes{% else %}No{% endif %}</td>
                    <td>{% if restaurant.vegan-options == true %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
      <p>Keep in mind, this is not an exhaustive list. Feel free to add more on the sign-up sheet.</p>
  </div>
</section>
