<section class="general-info">
    <div class="col-12">
        <h2 id="conference-hotel">Conference Hotel</h2>

        <p>Code4Lib {{site.data.conf.year}} will be held at {{site.data.conf.venue.name}} in {{site.data.conf.location}}.</p>

        {% if site.data.conf.venue.image %}
        <div class="col-6">
            <a href="{{site.data.conf.venue.website}}">
            <img class="img-fluid" src="{{ site.data.conf.venue.image | relative_url }}" alt="{{ site.data.conf.venue.name }}"></a>
        </div>
        {% endif %}

        <div class="col-6">
            <p>
                {{site.data.conf.venue.street}}<br>
                {{site.data.conf.city-state}} {{site.data.conf.venue.postal-code}}<br>
                <a href="tel:{{site.data.conf.venue.phone}}">{{site.data.conf.venue.phone}}</a>
                 | <a href="{{site.data.conf.venue.website}}">website</a>
                 | <a href="{{site.data.conf.venue.floorplan}}">Floor Plan</a>
            </p>
            <p>
                <strong><a href="{{site.data.conf.venue.directions}}">Getting to {{site.data.conf.venue.name}}</a></strong>
            </p>
        </div>
    </div>

    <div class="col-12">
        <h3>Lodging</h3>
        <p>
            The conference has a block of rooms reserved at the Westin Pittsburgh, starting at a daily rate of {{ site.data.conf.venue.cost }} ({% if site.data.conf.venue.with-tax-cost %}{{ site.data.conf.venue.with-tax-cost }} with taxes{% else %}plus taxes{% endif %}). This rate is valid between the dates of March 8 – 12, but only until Friday, February 14 or until the block fills up, whichever comes first. Rooms may be available at the group rate before or after the above March dates, based on availability at the hotel. While the reservation will require a credit card, it will not be charged until you arrive (you may also incur a fee if you do not show, or cancel outside of the allowable cancellation time frame).
        </p>
        <p>There will be a reservation URL in your registration confirmation.</p>
        <p>
            Check-in is at 3pm while check-out is noon. Included in our reservation is free access to the hotel's guest WiFi network.
        </p>

        <h3>Parking</h3>
        <p><strong>Onsite Self-Parking</strong>: $22.00 per night</p>
        <p><strong>Onsite Valet Parking</strong>: $29.00 per night (with in/out privileges)</p>
    </div>
</section>
