<div id="cd-timeline" class="cd-container">
    {% assign posts = site.posts | where:"categories", "past-keynote" %}
    {% for post in posts %}
    <div class="cd-timeline-block">
        <div class="cd-timeline-img"></div>

        <div class="cd-timeline-content">
            <div class="col-xs-12" style="margin-bottom: 10px;">
                <h2>{{ post.title }}</h2>
            </div>
            {% if post.speaker %}
                {% assign speaker = site.data.past-keynotes | where:"id",post.speaker | first %}
                <div class="col-sm-4 hidden-xs text-center">
                    <a href="/speakers/past-keynotes.html#{{ speaker.name | slugify }}-info" class="speaker-overlay" data-content="{{ speaker.name }}">
                        <img class="clip-circle" src="{{ speaker.image_src | relative_url }}" alt="{{ speaker.name }}">
                    </a>
                </div>
            {% endif %}
            <div class="col-sm-4 col-xs-6 text-center">
                <h3 class="past-pres-date">{{ post.date | date: '%Y' }}</h3>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                {% if post.slides %}
                    <h3 class="past-pres-slides"><a href="{{ post.slides }}"><span class="glyphicon glyphicon-blackboard past-slides hidden-xs"></span> Slides</a></h3>
                {% endif %}
            </div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    {% endfor %}


</div> <!-- cd-timeline -->
