{% comment %}
this include can be used in places where we'd normally show a full schedule when
we have talk/workshop information but don't yet know the exact schedule
{% endcomment %}
{% if site.data.conf.have-talks or site.data.conf.have-workshops %}
    <div class="row">
        <div class="col-12">
            {% if site.data.conf.have-workshops %}
                <div class="col-md-4">
                    <a href="{{ site.baseurl }}{% link workshops/index.html %}" class="btn btn-primary btn-lg">
                        View Preconference Workshops
                    </a>
                </div>
            {% endif %}

            {% if site.data.conf.have-talks %}
                <div class="col-md-4">
                    <a href="{{ site.baseurl }}{% link talks/index.html %}" class="btn btn-primary btn-lg">
                        View Conference Talks
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <br>
{% endif %}
