---
---

@import '_color-contrast';
@import '_variables';
@import 'bootstrap/bootstrap';
@import '_timeline';
@import '_sponsors';

/* ==========================================================================
   Global
   ========================================================================== */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20.3125em;
  padding-bottom: 20px;
  color: $gray-base;
  font-family: "Ubuntu",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

// halve blockquote padding on smaller screens
@media screen and (max-width: $screen-sm) {
    blockquote {
        padding: ($line-height-computed / 4) ($line-height-computed / 2);
    }
}

h1, h2, h3, h4, h5 {
  font-family: "Ubuntu",Helvetica,Arial,sans-serif;
  letter-spacing: .02em;

  &.expo {
    border-bottom: 1px solid $gray-light;
  }
}

.navbar {
  font-family: "Ubuntu",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

p {
  line-height: 2em;
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 0;
}

.modal-dialog {
  z-index: 1;
}

.sequence {
  padding: 0;
  margin: 0;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media (min-width: $screen-sm-min) {}

@media (min-width: $screen-md-min) {}

@media (min-width: $screen-lg-min) {}

/* ==========================================================================
   Jumbotron
   ========================================================================== */

.jumbotron {
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}

#conferenceInfo {
  background-color: $primary;
  h1 {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    font-family: "Alegreya SC","Alegreya",Georgia,Times,serif;
    font-weight: normal;
    letter-spacing: .02em;
    font-size: 2em;
    margin-top: -1.2em;
    margin-bottom: 0;
    padding: .2em;
    background-color: fade-out($primary-light, .35);

    small {
      color: inherit;
      display: block;
    }
  }
}

#conferenceActions {
  text-align: center;
  margin-bottom: 1em;

  .btn {
    background-color: transparent;
    border: 2px solid $jumbotron-btn-color;
    color: $jumbotron-btn-color;
    border-radius: 0;
    margin: .5em .5em 0 0;
  }

  .btn:hover {
    background-color: $jumbotron-btn-color;
    color: $gray-base;
  }

}

#heroImageAttribution{
  background-color: $accent;
  color: $primary-dark;
  font-size: .9em;
  a {
    color: $primary-dark;
  }
}

.hero-image {
  height: 325px;
}

.hero-image img {
  height: 100%;
  width: auto;
}

/*
 The following breakpoint is based on the dimensions of the selected hero image
 It should be equal to 325 * (image's natural width) / (image's natural height)
 */

@media (min-width: 651px) {
  .hero-image img{
    width: 100%;
    height: auto;
  }
}

@media (min-width: $screen-sm-min) {
  .hero-image {
    position: relative;
    height: 370px;
  }

  .hero-image img{
    position: absolute;
    z-index: -9999;
  }

  #conferenceInfo h1{
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      font-size: 3em;
  }

  #conferenceActions {
    text-align: left;
    max-width: 1050px;
    margin: 0 auto;
    .btn {
      margin-right: 1em;
      float: left;
    }
  }
}

@media (min-width: $screen-md-min) {
  #conferenceInfo h1 {
    font-size: 4.5em;
  }

  #conferenceActions {
    margin-top: -4.2em;
    padding-bottom: 4.2em;
  }
}

@media (min-width: 1600px) {
  .hero-image {
    height: 550px;
  }
}

/* ==========================================================================
   Sections
   ========================================================================== */

section {
  min-height: 200px;
  padding: 2em 0;
}

section:nth-of-type(3n+1) {
  background-color: $body-bg;
  color: $text-color;
}

section:nth-of-type(3n+2) {
  border-top: 2px solid $primary; 
}

section:nth-of-type(3n+3) {
  background: $section-3-bg;
  color: $section-3-color;
  a {
    color: $section-3-link;
  }
  a:hover, a:focus {
    color: $section-3-hover;
  }
}

/* ==========================================================================
   General Info
   ========================================================================== */

section .general-info {
  background: none;
  color: $gray-base;
}

section .general-info h2 {
  border-bottom: 1px solid #eeeeee;
}

/* ==========================================================================
   Secondary Navigation
   ========================================================================== */

ul.secondarynav {
  border: solid 1px light-gray;
}

ul.secondarynav > li:not(.active):hover {
  border-left: solid 3px $accent;
}

ul.secondarynav > li.active > ul > li {
  list-style-type: none;
  padding: 5px 0px;
}

ul.secondarynav > li.active > a,
ul.secondarynav > li.active > a:hover,
ul.secondarynav > li.active > a:focus {
  background-color: transparent;
  font-weight: 500;
  color: $accent-dark;
}

ul.secondarynav > li.active > a > .secondnav-item,
ul.secondarynav > li.active > a:hover > .secondnav-item,
ul.secondarynav > li.active > a:focus > .secondnav-item {
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid $accent;
  margin-bottom: -1px;
}

/* ==========================================================================
   Clip-circles
   ========================================================================== */

.clip-circle {
  display: block;
  height: 94px;
  width: 94px;
  border-radius: 50%;
  margin: 0 auto .2em;
  background: $clip-circle-border;
  border: 6px solid $clip-circle-border;
  box-sizing: content-box;
}

.clip-circle-speaker {
  background: $clip-circle-border;
  border: 6px solid $clip-circle-border;
  display: block;
  height: 94px;
  width: 94px;
  border-radius: 50%;
  margin: 0 auto .2em;
  box-sizing: content-box;
}

.clip-circle-lg {
  display: block;
  height: 172px;
  width: 172px;
  border-radius: 50%;
  margin: 0 auto .2em;
  background: $clip-circle-border;
  border: 3px solid $clip-circle-border;
  box-sizing: content-box;
}

/* ==========================================================================
   Testimonials
   ========================================================================== */

#testimonials {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

#testimonials:before, #testimonials:after {
  display: none;
}

.testimonial {
  display: none;
  float: none;
  flex: 1 1 auto;
}

.testimonial h3 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: 0;
}

.speech-bubble {
  color: $testimonial-color;
  background-color: $testimonial-bg;
  border: 1px solid $testimonial-border;
  border-radius: 5px;
  width: auto;
  padding: 20px;
  position: relative;
}

.speech-bubble .arrow {
  border-style: solid;
  position: absolute;
}

.bottom {
  border-color: $testimonial-bg transparent transparent transparent;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
}

.bottom:after {
  border-color: $testimonial-bg transparent transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0px 7px;
  bottom: 1px;
  content: "";
  position: absolute;
  left: -7px;
}

#testimonials .thumbnail {
  background-color: transparent;
  border: 0px;
}

@media (min-width: 992px) {
  #testimonials .thumbnail {
    min-height: 450px;
  }
}

#testimonials h2 {
  margin-bottom: 40px;
}

/* ==========================================================================
   Speaker Boxes
   ========================================================================== */

.speaker-name {
  margin-top: 8px;
  font-size: 1.65em;
  margin-bottom: 5px;
}

.speaker-mini {
  height: 5.2em;
  padding: 0 15px;
}

a.speaker-bio-link {
  color: darken($accent, 10%);
  font-weight: 500;
}

a.speaker-info-toggle {
  color: $accent;
}

p.speaker-title, p.speaker-bio {
  line-height: 1.5em;
  font-size: 1.1em;
}

p.speaker-title {
  padding: 0.2em 0.5em;
  margin-bottom: 0;
}

p.speaker-bio {
  color: $speaker-info-color;
  padding: 0.5em;
}

p.speaker-bio:not(:nth-of-type(1)) {
  margin-bottom: 5px;
  padding-top: 0;
}

p.speaker-title {
  font-weight: 400;
}

p.speaker-inst {
  line-height: 1.4em;
  font-size: 1.1em;
  position: relative;
  z-index: 100;
}

.speaker-info {
  background-color: $speaker-info-bg;
  width: 900px;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 5px;
  max-height:0;
  border: none;
  overflow: hidden;
  -webkit-transition: max-height .15s ease;
  -o-transition: max-height .15s ease;
  -moz-transition: max-height .15s ease;
  transition: max-height .15s ease;
}

.speaker-info.show {
  max-height: 600px;
  border: 2px solid $primary;
  -webkit-transition: max-height .35s ease;
  -o-transition: max-height .35s ease;
  -moz-transition: max-height .35s ease;
  transition: max-height .35s ease;
  transition-delay: .15s;
}

.speaker-info-inner {
  padding: 20px 15px 10px 15px;
}

.speaker-info-inner h4 {
  padding: 0.5em;
  color: $speaker-info-color;
}

.speaker-info-inner h4 a {
  color: $accent-dark;
}

.speaker-info-inner h4 a:focus,
.speaker-info-inner h4 a:hover {
  color: $accent-darker;
}

.speaker-box {
  padding: 10px 10px 0px 10px;
  width: 300px;
  margin-top: 10px;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.speaker-box-inner {
  padding: 15px 0;
  width: 100%
}

.speaker-box.selected .speaker-box-inner {
  background-color: $speaker-selected-bg;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.speaker-box.selected a {
  color: white;
}

.speaker-box.selected a:hover, .speaker-box.selected a:focus, .speaker-box.selected a:visited {
  color: $speaker-selected-color;
  border: none;
}

.speaker-box.selected p {
  color: #fff;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  position: absolute;
  z-index: 99;
  border-top: 15px solid $speaker-selected-bg;
  margin-top: 15px;
  opacity: 0;
}

.speaker-box.selected .arrow-down{
  opacity: 1;
}

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* ==========================================================================
   Single Presentation/Workshop page
   ========================================================================== */

.past-slides {
  font-size: 2em;
  display: block;
}

.talk-row:nth-child(odd) {
  background-color: #e9e9e9;
}

.talk-row {
  padding: 11px 0 11px 11px;
  margin-top: 11px;
}

.back-workshops {
  color: white;
  margin: 10px 0;
  display: block;
  padding: 10px 0 5px 0;
  border-top: solid 1px white;
}

.talk-detail-box {
  animation: intro .34s .4s cubic-bezier(1.000, 1.400, 0.410, 1.010) forwards;
  transform: translateY(-50%) scale(0) rotateX(10deg) rotateY(10deg) rotateZ(10deg);
  border-radius: 10px;
  background: $talk-box-bg;
  box-shadow: 4px 5px 0px $talk-box-shadow;
  margin-bottom: 100px;
  color: $talk-box-color;
}

.talk-detail-box .time-slot {
  background: $talk-box-2-bg;
  color: $talk-box-2-color;
}

.talk-detail-box .building {
  background: $talk-box-bg;
  background: $talk-box-color;
}

.talk-detail-box .time-length {
  background: $talk-box-3-bg;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: $talk-box-3-color;
}

.talk-box-detail-icon {
  display: table-cell;
  width: 50px;
  height: 100px;
  vertical-align: middle;
  padding: 10px;
  font-size: 16px;
}

.talk-box-detail-value {
  display: table-cell;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

@keyframes intro {
  0%{transform: translateY(25%) scale(0) rotateX(10deg) rotateY(10deg) rotateZ(40deg)}
  100%{transform: translateY(25%) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
}

/* ==========================================================================
   Presentation/Workshop index page
   ========================================================================== */

#workshop-sorting-div {
  margin-bottom: 20px;
}

.workshop-well {
  background-color: #ffffff;
  padding: 10px 10px 0px 10px;
  width: 300px;
  margin-top: 10px;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 5px;
}

.workshop-well p {
  line-height: 1.3em;
  font-size: .9em;
  word-break: break-all;
}

.workshop-well.top-10 {
  background-color: lightgoldenrodyellow;
}

.sched-date {
  margin-bottom: 20px;
}

/* ==========================================================================
   Schedule Page
   ========================================================================== */

.sched-well {
  text-align: left;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.11);
}

.sched-well h3 {
  padding: 0px 0px 5px 0px;
  text-align: left;
}

.sched-well p {
  line-height: 1.7em;
  font-size: .9em;
  word-break: break-word;
}

/* ==========================================================================
   Menu
   ========================================================================== */

.menu-panel {
  border: 10px solid #d1d3d4;
  margin-bottom: 39px;
  padding: 15px;
}

.tasting-menu {
  padding: 20px 18px 40px;
  margin-bottom: 75px;
  border: $menu-border 4px double;
  margin-right: 0;
  background: $menu-bg;
  color: $menu-color;
}

.tasting-menu .tasting-intro {
  font-size: 26px;
  text-align: center;
  padding: 0 15px;
  line-height: 1.2;
  font-family: franklin-gothic-urw-cond, sans-serif;
}

.tasting-menu .tasting-options {
  text-align: center;
  margin-bottom: 0;
  padding: 0 20px;
}

.tasting-menu .tasting-options li {
  border-bottom: 1px dashed $menu-divider;
  padding: 0 0 13px;
  margin-bottom: 20px;
  list-style-type: none;
}

.tasting-menu h4 {
  text-align: center;
  color: $menu-banner-color;
  text-transform: uppercase;
  background: $menu-banner-bg;
  text-align: center;
  padding: 20px 60px;
  margin-bottom: 26px;
  font: 48px/1 din-condensed-web, sans-serif;
  background-color: $menu-banner-bg;
  padding: 10px 20px;
  margin-top: 0;
}

.tasting-menu .tasting-options h5 {
  font-style: normal;
  color: $menu-headers;
  font-family: din-condensed-web, sans-serif;
  font-size: 20px;
}

.tasting-menu .tasting-options .items li {
  text-transform: none;
  font-style: italic;
  margin: 0;
  color: $menu-color;
  border: 0;
}

.tasting-menu img {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

/* ==========================================================================
   Search Results
   ========================================================================== */

.search_results {
  position: relative;
  display: none;
  background-color: #fff;
}

.search_results i {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
}

.search_results h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25em;
}

#search_results {
  margin-left: auto;
  margin-right: auto;
  max-width: 59em;
  margin-top: 2em;
  margin-bottom: 2em;
  list-style-type: none;
}

#search_results li {
  padding: 1em;
}


/* ==========================================================================
   Ajax Loader (may be unused)
   ========================================================================== */

#ajax-loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $accent-light;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

/* ==========================================================================
   Homepage event-cards
   ========================================================================== */

.event-day {
  &.active {
    transform: scale(1.1);
  }
  &.past {
    opacity: .7;
  }
}

.event-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 9px rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: .5em 0;
  overflow: hidden;
  padding: 0;
  min-height: 13em;
  width: 100%;

  .img-avatar {
    height: auto;
    width: 4em;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    box-sizing: border-box;
    max-width: 100px;
    background: #fff;
    --primary-color: #{$sponsor-badge-primary};
    --background-color: #fff;
  }
  %card-content {
    padding: 1em;
  }

  .card-toolbar {
    @extend %card-content;
    background: $day-event;
    color: #fff;
    height: 3em;

    .img-avatar {
      position: relative;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index:999;
    }

    &.night {
      background: $night-event;
    }
  }

  .card-body {
    @extend %card-content;
    padding: 1em 1em .4em;
    overflow: hidden;
    text-align: center;

    h3 {
      font-size: 1.5em;
    }

    p {
      color: #a1a1a1;
      margin: 0;
      line-height: initial;
    }
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  height: 21.6125em;
  position: absolute;
  right: 0;
  width: 100%;
  color: $footer-color;
  background-color: $footer-bg;
  padding-top: 3em;
  text-align: center;

  p {
    font-size: .8em;
  }

  a {
    color: $footer-link !important;
  }

  a:hover, a:focus {
    color: $footer-hover;
  }

  ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
}

.username {
  color: $gray-lighter;
  background: $primary;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;

  &:focus, &:hover {
    text-decoration: none;
    border: none;
    background: $accent;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

p a:-webkit-any-link {
  text-decoration: none;
  color: $accent-dark;
  font-weight: 500;
  &:hover {
    color: $accent-darker;
  }
}

/* above rule causes buttons within <p>s to have dark text on dark bg */
p a.btn {
    color: #fff;

    &:hover {
      color: #fff;
    }
}

.subfoot {
  text-decoration: underline;
}

@media (min-width: $screen-sm-min) {
  .footer{
    padding: 5em 0;
  }
}
