---
layout: secondary-nav
title: Venue
nav: conduct
subnav:
- name: Code of Conduct
  url: '#conduct'
- name: Emergency
  url: '#emergency'
- name: Community Support Volunteers
  url: '#officers'
- name: Community Support Volunteer Schedule
  url: '#schedule'
- name: Accessibility
  url: '/general-info/accessibility'
- name: Photography Policy
  url: '#photography'
active: 'Conduct & Safety'
---

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="page-header" id="#conduct">
                <h1>Conduct & Safety</h1>
            </div>

            <h2 id="conduct">Code4Lib Community Code of Conduct</h2>

            <blockquote>
                <p>
                    Code4Lib seeks to provide a welcoming, fun, and safe community and conference experience and ongoing
                    community for everyone. We do not tolerate harassment in any form. Discriminatory language and imagery
                    (including sexual) is not appropriate for any event venue, including talks, or any community channel such
                    as the chatroom or mailing list.
                </p>

                <p>
                    Harassment is understood as any behavior that threatens another person or group, or produces an unsafe
                    environment. It includes offensive verbal comments or non-verbal expressions related to gender, gender
                    identity, gender expression, sexual orientation, disability, physical appearance, body size, race, age,
                    religious beliefs, sexual or discriminatory images in public spaces (including online), deliberate
                    intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or
                    other events, inappropriate physical contact, and unwelcome sexual attention.
                </p>

                <cite title="Source Title">—CodeOfConduct4Lib</cite>
            </blockquote>

            <p class="lead text-center">
                <a href="https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md">
                    &#10163; Read and contribute to our full Code of Conduct document on GitHub
                </a>
            </p>

            <div class="row">
                <div class="col-md-12">
                    <h2 id="emergency">Emergency Resources</h2>

                    <p>See also the contact information for <a href="#officers">community support volunteers</a> on this page.</p>

                    <h3>San Jose Police Department</h3>
                    <p>
                      <ul>
                        <li>Emergency: 9-1-1. </li>
                        <li>Non-emergency: <a href="tel:3-1-1">3-1-1</a> or <a href="tel:1-408-277-8900">(408) 277-8900</a> (311 services are not currently available from calls originating on some cellular telephones.)</li></ul>
                    </p>

                    <h3>Hospitals & Urgent Care</h3>
                    <!-- Called venue to confirm this info -->
                    <p>
                      O'Connor Hospital<br>
                      <a href="https://www.google.com/maps/place/2105+Forest+Ave,+San+Jose,+CA+95128,+USA">2105 Forest Ave, San Jose, CA 95128, USA</a><br>
                      <a href="tel:1-408-947-2500">1-408-947-2500</a><br>
                      <br>
                      Sutter Walk-In Care<br>
                      <a href="https://www.google.com/maps/place/Sutter+Walk-In+Care/@37.3418652,-121.9134216,17z/data=!3m1!4b1!4m5!3m4!1s0x808fcb653a9e64dd:0xfd230bd5df3ecf52!8m2!3d37.3418652!4d-121.9112329">685 Coleman Ave, San Jose, CA 95110, USA</a><br>
                      <a href="tel:1-800-972-5547">1-800-972-5547</a><br>
                    </p>

                    <h3>San Jose YWCA Rape Crisis Center</h3>
                    <p>For immediate in-person crisis assistance and counseling services,
                      contact the 24-Hour Hotline at <a href="tel:1-408-287-3000">408-287-3000</a> or <a href="tel:1-650-493-7273">650-493-7273</a>.
                    </p>

                      <h3>Suicide Prevention Lifeline</h3>
                      <p>Confidential suicide prevention hotline available to anyone in suicidal crisis or emotional distress.
                        Your call is routed to the nearest crisis center in the national network of more than 150 crisis centers.
                        All services are available 24/7. <br>
                        <ul>
                          <li>English: <a href="tel:1-800-273-8255">1-800-273-8255</a></li>
                          <li>Español: <a href="tel:1-888-628-9454">1-888-628-9454</a></li>
                          <li>Deaf and Hard of Hearing: <a href="tel:1-800-799-4889">1-800-799-4889</a></li>
                          <li>Chat: Go to <a href="https://suicidepreventionlifeline.org/chat/">suicidepreventionlifeline.org</a></li>
                        </ul>
                      </p>

                      <h3>Recovery Groups</h3>
                      <p>
                        Alcoholics Anonymous<br>
                        <a href="https://aasanjose.org/meetings?tsml-region=san-jose">AA meetings in the San Jose area</a><br>
                        <br>
                        Narcotics Anonymous<br>
                        <a href="https://www.na.org/meetingsearch/text-results.php?country=USA&state=California&city=San+Jose&zip=&street=&within=20&day=0&lang=&orderby=datetime&country=USA&state=California&city=San+Jose&zip=&street=&within=20&day=0&lang=&orderby=datetime">NA meetings in the San Jose area</a><br>
                      </p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 id="officers">Community Support Volunteers</h2>

                    <p>
                        During all days of the conference, including pre-conference and sponsored
                        evening activities, there will be Community Support Volunteers available to help provide
                        support for anyone who has been harassed, threatened, abused, or feels the
                        <a href="https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md">
                        CodeOfConduct4Lib</a> has been violated during the conference.
                    </p>

                    <h3>Contacting a Community Support Volunteer</h3>

                    {% unless site.data.duty-officers %}
                        <p>Community Support Volunteers for the {{site.data.conf.year}} conference have not year been selected. You still may send concerns or questions about the Code of Conduct and how it's been applied in the past using the means listed below.</p>
                    {% endunless %}

                      <ul>
                        {% if site.data.conf.duty-officer-email != '' %}
                            <li>Send an email to <a href="mailto:{{site.data.conf.duty-officer-email}}">{{site.data.conf.duty-officer-email}}</a>. Only Community Support Volunteers are subscribed to this mailing list, and no archive is kept.
                        {% else %}
                            <li>While no Community Support Volunteer email is available yet, you can contact the Local Planning Committee at <a href="mailto:{{site.data.conf.main-conf-email}}">{{site.data.conf.main-conf-email}}</a>
                        {% endif %}

                        {% if site.data.conf.duty-officer-phone != '' %}
                            <li>Call a Community Support Volunteer at <a href="tel:{{site.data.conf.duty-officer-phone}}">{{site.data.conf.duty-officer-phone}}</a>.</li>
                        {% endif %}

                        {% if site.data.conf.anonymous-form != '' %}
                            <li>Use the <a href="{{site.data.conf.anonymous-form}}">anonymous reporting form</a>.
                        {% endif %}

                        <li>Use the <code>/support</code> command on the <a href="https://code4lib.slack.com/">Code4lib Slack team.</a> Not a member of the Slack team? <a href="https://docs.google.com/forms/d/120Dw1JjLxPJB9VTGl0mUY7Ot6yg6YNY1RZUISJFzdwk/viewform?c=0&w=1">Sign up here</a>.</li>
                      </ul>

                    {% if site.data.duty-officers %}

                        <h3>On-Site Community Support Volunteers</h3>

                        <div class="row">
                          {% assign onsite_officers = site.data.duty-officers | where:"onsite","true" %}
                            {% for officer in onsite_officers %}
                            <div class="col-md-4">
                                <div class="speaker-box text-center">
                                    <div class="speaker-box-inner">
                                        <img class="clip-circle-lg" src="/{{ officer.img }}" alt="{{ officer.name }}">
                                        <h4 class="speaker-name">{{ officer.name }}</h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div>
                          <h3>Online Community Support Volunteers</h3>
                          <p>Community Support Volunteers are also present on various online code4lib platforms, primarily <a href="https://wiki.code4lib.org/How_to_hack_code4lib#Or_get_to_the_.23code4lib_IRC_channel_.28and_other_discussions.29_via_Slack">Slack</a>. IRC and the <a href="https://twitter.com/hashtag/{{site.data.conf.hashtag}}">#{{site.data.conf.hashtag}}</a> conference hashtag feed have some coverage as well, but if you should observe or experience a code of conduct violation on IRC or the hashtag, please contact the community support volunteers via Slack, email, or the anonymous reporting form.
                          </p>

                          {% assign online_officers = site.data.duty-officers | where:"online","true" %}
                          {% for officer in online_officers %}
                            <div class="col-md-4">
                              <h4 class="speaker-name">{{ officer.name }}</h4>
                              <p>Slack: {{ officer.slack_handle }}</p>
                            </div>
                          {% endfor %}
                        </div>
                    {% endif %}
                </div>
           </div>

            {% if site.data.duty-officer-schedule %}
            <div class="row">
                <div class="col-md-12">
                    <h2 id="schedule">Community Support Volunteer Schedule</h2>

                       <h3>On-Site</h3>
                    {% for session in site.data.duty-officer-schedule %}
                        <h4>{{ session.title }}</h4>
                        <div class="row">
                            <div class="col-xs-12 keynote-sequence sequence">
                                {% if session.all-hands %}
                                    <p><strong>All community support volunteers attending the event &mdash; look for the black & white striped lanyards!</strong></p>
                                {% else %}
                                    {% for officerId in session.officers %}
                                    {% assign officer = site.data.duty-officers[officerId] %}
                                    <div class="speaker-box text-center">
                                        <div class="speaker-box-inner">
                                            <img class="clip-circle-lg" src="/{{ officer.img }}" alt="{{ officer.name }}">
                                            <h5 class="speaker-name">{{ officer.name }}</h5>
                                        </div>
                                    </div>
                                    {% endfor %}
                                 {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                       <h3>Online</h3>
                    {% for period in site.data.online-duty-officer-schedule %}
                       {% assign officer = site.data.duty-officers[period.officer] %}
                       <div class="row">
                          <div class="col-md-2">{{ period.day }}</div>
                          <div class="col-md-3">{{ period.interval }}</div>
                          <div class="col-md-4">{{ officer.name }} ({{ officer.slack_handle }})</div>
                       </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}


            <div class="row">
                <div class="col-md-12">
                    <h2 id="photography">Photography Policy</h2>

                    <p>
                        Do not photograph, film, or audio-record anyone at Code4Lib without their
                        expressly-given permission beforehand. Color- and pattern-coded lanyards are
                        available at the registration desk to help indicate the wearer’s preference
                        for photography ONLY. Please note, regardless of lanyards, you must always
                        ask before filming or audio-recording attendees.
                    </p>

                    <h3>Lanyard color code</h3>
                    <ul>
                        <li><span style="color: #036103;font-weight: 700;">Solid green</span> printed with {code4lib}: Photographs always okay – this represents expressly-given permission beforehand</li>
                        {% comment %} not very yellow because yellow's contrast is too low {% endcomment %}
                        <li><span style="color: #88880d;font-weight: 700;">Yellow</span>: Ask before photographing</li>
                        <li><span style="color: #710d0d;font-weight: 700;">Red</span>: Photographs never okay, don’t ask</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
