---
layout: default
title: Sponsorship Prospectus
published: true
---

<section id="prospectus">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Code4Lib {{site.data.conf.year}} Sponsor Prospectus</h1>
                <p>
                    <img src="{{ site.baseurl }}/assets/img/persistent/prospectus-collage.jpg" title="Credit sdellis on Twitter" alt="Code4Lib Collage" width="100%">
                </p>
                <p>
                  The Code4Lib {{site.data.conf.year}} Conference, scheduled for February 19-22, 2019 in {{site.data.conf.location}}, presents an opportunity for vendors, organizations, libraries, and projects to show their support for open and collaborative solutions for higher education, libraries, museums, and archives by providing financial support and attending the conference.
                </p>
                <a class="btn btn-primary btn-lg" href="http://www.cvent.com/d/pgqp3w/4W">Sponsor Code4Lib 2019</a>

                <h2>Who We Are</h2>
                <p>
                  We are a community of developers and technologists for galleries, libraries, museums, and archives. Code4Lib began as a simple mailing list in 2003, and has grown to become a vibrant community of more than 3,500.
                </p>

                <p>
                  Code4Lib is a community, not an organization. There are no officers or by-laws, but the Code4Lib community has demonstrated strong commitment to the following principles over the years:
                  <ul>
                    <li>openness and collaboration</li>
                    <li>diversity and inclusiveness</li>
                    <li>technical excellence</li>
                    <li>a supportive and nurturing space for newcomers</li>
                  </ul>
                </p>

                <h2>About the Conference</h2>
                <p>
                  Each year, the Code4Lib conference helps revitalize the community as participants meet in person to discuss new and ongoing projects in a single-track format with short presentations and talks. It also provides in-depth participatory learning experiences through its volunteer-led pre-conference programs, and offers ad-hoc breakout sessions focused on collaboration around topics of interest.
                  <ul>
                    <li>Conference speakers and programs are chosen by a voting process open to the entire community.</li>
                    <li>Sessions are live-streamed to support remote attendance. Beginning in 2016, the stream was captioned in real-time to promote accessibility, and the community is committed to continuing this service.</li>
                    <li>Diversity scholarships help members of underrepresented communities attend the conference and take advantage of learning and networking opportunities. Many individual community members donate personally to increase the number of scholarships.</li>
                    <li>Our single-track format promotes broad sharing of ideas; the 20-minute time limit for presentations allows topics on a wide variety of technologies.</li>
                  </ul>
                </p>

                <p>
                  Code4Lib held its first face-to-face meeting in 2005 in Chicago. The first official annual conference was held in 2006 in Corvallis, Oregon, with 150 attendees. Past conferences typically sell out quickly.
                </p>

                <p>
                   The 2019 conference will accommodate up to 400 attendees. The conference is gender-diverse, with approximately 40% women attendees.
                </p>

                <h2>Impact of Support</h2>
                <p>
                  Code4Lib offers a nexus for technical professionals from galleries, libraries, museums, and archives. Through sponsoring the conference, you can help create connections between projects and individuals, encourage good ideas to cross the gaps between subcommunities, and spawn new ideas. You can also help practitioners level up their skills in technology as well as collaboration with professionals in different areas of expertise.
                </p>

                <p>
                  The Code4Lib community takes inclusion and equity seriously. By sponsoring Code4Lib's diversity scholarships, you can help ensure that the attendees better represent the mix of people that galleries, libraries, museums, and archives technology should both embody and serve.
                </p>

                <p>
                  Your sponsorship of the conference can also provide immediate, concrete benefits to you and your organization. Code4Lib attendees include active practitioners who may be interested in your product, open source project, or services as well as department heads and senior administrators (approximately 15% of attendees last year) who make purchase decisions. Sponsors are strongly encouraged to send their staff to the conference to take advantage of access to the people and ideas who make up the Code4Lib community.
                </p>

                {% if site.data.conf.sponsor-contact-email != "" %}
                <p>
                    If you're ready to make a pledge please <a href="http://www.cvent.com/d/pgqp3w/4W">visit our sponsor registration form</a>.  If you have questions, please get in touch with Mark Matienzo or Jeff Sabol at <a href="mailto:{{site.data.conf.sponsor-contact-email}}">{{site.data.conf.sponsor-contact-email}}</a>.
                </p>
                {% endif %}

                <p>
                    A <a href="{{ "/assets/2019-infosheet.pdf" | relative_url }}">one-page information sheet</a> (PDF) is available to assist with making a case to sponsor the Code4Lib Conference.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="prospectus-padder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Sponsorship Opportunities</h1>
                <h2>General sponsorship levels</h2>
            </div>
        </div>

        <!-- 1st row: adamantium & diamond -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="thumbnail">
                    <svg alt="adamantium badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#adamantium-badge"></use>
                    </svg>
                    <h2>Adamantium</h2>
                    <p><strong>1 available at $14,000</strong></p>
                    <p> At our highest level of sponsorship, sponsors will have even more advantages available to them for their generousity.</p>
                    <p>Benefits include:</p>
                    <ul>
                        <li>Platinum Sponsorship benefits with recognition as an Adamantium level sponsor</li>
                        <li>Opportunity to give a brief (5 minute) statement to the Code4Lib attendees during the conference.</li>
                    </ul>
                    <p><small>"<a href="https://thenounproject.com/term/wolverine-claws/52605">Wolverine Claws</a>" <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="license">CC-BY-3.0</a> Alen Krummenacher</small></p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="thumbnail">
                    <svg alt="diamond badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#diamond-badge"></use>
                    </svg>
                    <h3>Diamond</h3>
                    <p><strong>$10,000 and above</strong></p>
                    <ul>
                      <li>Large logo or name on website and online program as Diamond Sponsor with top placement</li>
                      <li>Large logo on conference T-shirt with top placement (b&amp;w vector image required)</li>
                      <li>Acknowledgement from podium at opening and closing sessions</li>
                      <li>Brochure in conference packet (if provided)</li>
                      <li>Logo on poster in Ballroom</li>
                      <li>3 free conference registrations</li>
                      <li>1 free exhibitor table</li>
                      <li>Diamond "Badge of Distinction" color printed on nametags of sponsor's attendees</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 2nd row: platinum, gold, silver -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <svg alt="trophy badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#trophy-badge"></use>
                    </svg>
                    <h3>Platinum</h3>
                    <p><strong>$8,000 to $9,999</strong></p>
                    <ul>
                      <li>Large logo or name on website and online program as Platinum Sponsor</li>
                      <li>Large logo on conference T-shirt (b&amp;w vector image required)</li>
                      <li>Acknowledgement from podium at opening and closing sessions</li>
                      <li>Brochure in conference packet (if provided)</li>
                      <li>Logo on poster in Ballroom</li>
                      <li>2 free conference registrations</li>
                      <li>1 free exhibitor table</li>
                      <li>Platinum "Badge of Distinction" color printed on nametags of sponsor's attendees</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <svg alt="gold badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge gold" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#medal-badge"></use>
                    </svg>
                    <h3>Gold</h3>
                    <p><strong>$5,500 - $7,999</strong></p>
                    <ul>
                      <li>Medium logo or name on website, online program as Gold Sponsor</li>
                      <li>Medium logo on conference T-shirt (b&amp;w vector image required)</li>
                      <li>Acknowledgement from podium at opening and closing sessions</li>
                      <li>Brochure in conference packet (if provided)</li>
                      <li>Logo on Ballroom “Screensaver”</li>
                      <li>1 free conference registration</li>
                      <li>Gold "Badge of Distinction" color printed on nametags of sponsor's attendees</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <svg alt="silver badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge silver" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#medal-badge"></use>
                    </svg>
                    <h3>Silver</h3>
                    <p><strong>$3,000 - $5,499</strong></p>
                    <ul>
                      <li>Small logo or name on website and online program as Silver Sponsor</li>
                      <li>Small logo on conference T-shirt (b&amp;w vector image required)</li>
                      <li>Acknowledgement from podium at opening and closing sessions</li>
                      <li>Brochure in conference packet (if provided)</li>
                      <li>Silver "Badge of Distinction" color printed on nametags of sponsor's attendees</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 3rd row: bronze, contributor, supporter -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <svg alt="bronze badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge bronze" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#medal-badge"></use>
                    </svg>
                    <h3>Bronze</h3>
                    <p><strong>$1,500 - $2,999</strong></p>
                    <ul>
                      <li>Small logo on website and online program as Bronze Sponsor</li>
                      <li>Name on conference T-shirt</li>
                      <li>Acknowledgement from podium at opening and closing sessions</li>
                      <li>Bronze "Badge of Distinction" color printed on nametags of sponsor's attendees</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <svg alt="contributor badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#star-badge"></use>
                    </svg>
                    <h3>Contributor</h3>
                    <p><strong>$1000 - $1,499</strong></p>
                    <ul>
                      <li>Small logo on website and online program as Contributor</li>
                      <li>Acknowledgement from podium at opening and closing sessions</li>
                      <li>Contributor "Badge of Distinction" color printed on nametags of sponsor's attendees</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <svg alt="contributor badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#thumbs-badge"></use>
                    </svg>
                    <h3>Supporter</h3>
                    <p><strong>$250 - $999</strong></p>
                    <ul>
                      <li>Name on website and online program as Supporter</li>
                      <li>Recognition at appropriate time (i.e., during raffles for prize donations)</li>
                      <li>Supporter "Badge of Distinction" color printed on nametags of sponsor's attendees</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- tables -->
        <div class="row" id="exhibitorTables">
            <div class="col-xs-12">
                <a name="Exhibitor-Tables"></a>
                <h2>Exhibitor Tables</h2>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail">
                            <strong>Non-profit organization: $500</strong><br/>
                            <strong>For-profit organization, early-bird (on or before November 15, 2018): $900</strong><br/>
                            <strong>For-profit organization, normal rate: $1,300</strong><br/>
                            <strong>15 available, <span class="text-danger">13 left</span></strong><br/>

                            <p>
                                Tables in a high-traffic area provide organizations, projects, and vendors a chance to interact with the Code4lib community on-site, and visibility throughout the conference. Participants will be able to visit tables during the morning and afternoon breaks, lunches, breakout sessions, and immediately following daily sessions. General sponsors are encouraged to also get exhibitor tables.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- targeted -->
        <div class="row" id="targetedSponsorship">
            <a name="Targeted-Sponsorship"></a>
            <div class="col-xs-12">
                <h2>Targeted Sponsorship</h2>
            </div>

            <div class="col-xs-12">
                <div class="thumbnail">
                    <a name="Streaming-Video"></a>
                    <h3>Streaming Video</h3>
                    <p><b>1 available at $5,500, <span class="text-danger">0 left</span></b></p>
                    <p>
                        A live webcast and recording of the Code4lib Conference is provided to ensure the entire community can participate. Sponsor benefits will include:
                    </p>
                    <ul>
                        <li>Gold Sponsorship benefits</li>
                        <li>Name in or next to video streaming window</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="thumbnail">
                <a name="Diversity-Scholarships"></a>
                    <h3>Diversity Scholarships</h3>

                    <p><strong><span class="text-danger">None available</span> at $1,500</strong></p>
                    <p>
                        These scholarships provide travel costs and conference fees for qualified applicants from groups typically underrepresented at the conference, including women, transgender people, and minority ethnic and racial groups. Applicants must be interested in actively contributing to the mission and goals of the Code4lib conference. Benefits of sponsoring a scholarship:
                    </p>
                    <ul>
                        <li>Logo on forthcoming Scholarships website page</li>
                        <li>Recognition from podium when scholarship winners are announced</li>
                        <li>Recognition in emails sent out about scholarships</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="thumbnail">
                    <a name="Realtime-Transcription"></a>
                    <h3>Real-time Transcription and Closed Captioning of Talks</h3>

                    <p><strong>1 available at $2,000, <span class="text-danger">0 left</span></strong></p>
                    <p>
                        To facilitate universal participation and access to conference content, real-time live transcription and closed captioning of all presentations, lightning talks, and announcements from the podium at the annual Code4Lib conference will be included with the webstream and in-person, along with full transcription after the fact to accompany recordings. Benefits of sponsoring transcription and closed captioning include:
                    <ul>
                        <li>Bronze Sponsorship benefits</li>
                        <li>Acknowledgment in published closed captions and transcripts</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="thumbnail">
                    <a name="Childcare"></a>
                    <h3>Childcare</h3>

                    <p>
                        <strong>2 available at $1,500, <span class="text-danger">1 left</span></strong>
                    </p>
                    <p>
                        Childcare is provided at the Code4lib Conference to make it possible for working parents and guardians to attend and fully participate. This sponsorship helps to offset the cost of childcare that the attendee using the service will have to pay. Sponsor Benefits include:
                    </p>
                    <ul>
                        <li>Bronze Sponsorship benefits</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="thumbnail">
                    <a name="transportation"></a>
                    <h3>Transportation</h3>

                    <p>
                        <strong>2 available at $2,000, <span class="text-danger">2 left</span></strong>
                    </p>
                    <p>
                        This Sponsorship opportunity will include sponsoring the cost of  transportation to and from the 2019 Code4Lib opening reception. Sponsor Benefits include:
                    </p>
                    <ul>
                        <li>Bronze Sponsorship benefits</li>
                        <li>Signage acknowledging the sponsor including a short message from the sponsor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% if site.data.conf.sponsor-contact-email != "" %}
<!-- this floats in a tab along the side of the page -->
<div id="contact">
    <img src="{{ site.baseurl }}/assets/img/persistent/contact.png" alt="Contact" />
    <div class="thumbnail" id="contact_inner">
        <h3>Sponsor Contact</h3>
        <p>
            If you would like to pledge your support at any level, or have questions about sponsorship, feel free to email <a href="mailto:{{site.data.conf.sponsor-contact-email}}"> {{site.data.conf.sponsor-contact-email}}</a>.
        </p>
    </div>
</div>
{% endif %}
