{% include header.html %}
{% include search_results.html %}

{% if page.type == 'workshop' %}
    {% assign page_date = page.date %}
    {% capture page_length %}{{ page.startTime }} - {{ page.endTime }}{% endcapture %}
    {% assign location = site.data.locations | where: 'id', page.location | first %}
    {% assign location_display = location.name %}
    {% if page.room %}
        {% assign room = location.rooms | where: 'id', page.room | first %}
        {% capture location_display %}{{ location.name }} - {{ room.name }}{% endcapture %}
    {% endif %}
{% endif %}

{% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' or page.type == 'poster' %}
    {% assign page_date = page.startTime %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">

            <h1>{{ page.title }}{% if page.full == true %}<small class="text-danger">This workshop is full</small>{% endif %}</h1>

            <p>{{ content }}</p>

            {% if page.youtube_key %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube_key }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% endif %}

            <!-- determine if we should show the speakers block -->
            {% assign show_speakers = false %}
            {% for speaker_id in page.speakers %}
                {% for file_id in site.data.speakers %}
                    {% if file_id.id == speaker_id %}
                        {% assign show_speakers = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if show_speakers %}
                <h2>Speaker(s)</h2>
                <div class="row">
                    <div class="col-xs-12">
                        {% for speaker_id in page.speakers %}
                            {% assign speaker = site.data.speakers | where: 'id', speaker_id | first %}
                            {% if speaker %}
                                <div class="col-sm-3 text-center">
                                    <a href="/speakers/#{{ speaker.id }}">
                                        <img class="clip-circle-speaker" src="{{ speaker.image_src }}" alt="{{ speaker.name }}">
                                        <span>{{ speaker.name }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% comment %} poster sessions have no speaker data, only text {% endcomment %}
            {% elsif page.type == 'poster' and page.speakers-text != '' %}
                <h2>Presenter(s): {{ page.speakers-text }}</h2>
            {% endif %}

            {% if page.type == 'workshop' %}
            <div class="col-xs-12 col-sm-8 col-md-9">
                <h2>Location</h2>
                <div style="margin: auto; max-width: 600px;" class="embed-responsive embed-responsive-4by3">
                    <iframe src="{{ location.embed_code }}"></iframe>
                </div>
                <p class="text-center">
                    <a class="btn btn-primary" href="{{ location.floor_plan }}" target="_blank">Floor Plan</a>
                </p>
            </div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 text-center">
            <div class="row talk-detail-box">
                <!-- date -->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' %}
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-calendar"></span></div>
                        <div class="talk-box-detail-value"> <a href="/schedule/day-{{page.day}}">{{ page_date | date: "%B %e" }}{% include date_ordinals.html date=page_date %}</a></div>
                    {% elsif page.type == 'poster'%}
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-calendar"></span></div>
                    <div class="talk-box-detail-value"> <a href="/posters">{{ page_date | date: "%B %e" }}{% include date_ordinals.html date=page_date %}</a></div>
                    {% else %}
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-calendar"></span></div>
                        <div class="talk-box-detail-value"> <a href="/workshops">{{ page_date | date: "%B %e" }}{% include date_ordinals.html date=page_date %}</a></div>
                    {% endif %}
                </div>

                <!-- time of day for presentations -->
                {% if page.type == 'workshop' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                    <div class="talk-box-detail-value">{{ page_length }}</div>
                </div>
                {% elsif page.type == 'poster' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                    <div class="talk-box-detail-value">{{ page.startTime | date: "%I:%M %p" }}</div>
                </div>
                {% endif %}

                <!-- building for workshops -->
                {% if page.type == 'workshop' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-map-marker"></span></div>
                    <div class="talk-box-detail-value">
                        {{ location_display }}
                    </div>
                    <div>
                        <a class="back-workshops" href="/workshops">⇦ Return to Workshop List</a>
                    </div>
                </div>
                {% elsif page.type == 'poster' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-map-marker"></span></div>
                    <div class="talk-box-detail-value">
                        {{ page.location }}
                    </div>
                </div>
                {% endif %}

                <!-- group -->
                {% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' %}
                {% assign group_data = site.data.schedule | where:'groupId', page.group %}
                {% assign group = group_data | first %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                    <!--<h3>Group {{ page.group }}
                    <p>{{ group.time }}</p></h3>-->
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                    <div class="talk-box-detail-value">{{ page.startTime | date: "%I:%M %p" }}</div>

                </div>
                {% endif %}

                <!-- length -->
                {% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                    <!--<h3>Length</h3>
                    <p>{{ page.length }} minutes</p>-->
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-hourglass"></span></div>
                    <div class="talk-box-detail-value">  {{ page.length }} minutes</div>
                </div>
                {% endif %}


            </div>
            <!-- slides -->
            {% if page.slides %}
            <div class="talk-box-detail-value"><a href="{{ page.slides }}" class="btn btn-default btn-lg col-sm-12">
              <span class="glyphicon glyphicon-blackboard"></span>&nbsp;View Slides</a></div>
            {% endif %}
        </div>
    </div>
</div>

{% include footer.html %}
