---
layout: default
title: Proposed Posters
---

<div class="container proposals">
    <div class="row">

        <div class="col-12 col-sm-8">
            <h3>Proposed Posters</h3>
        </div>
        <div class="col-12 col-sm-4">
            {% if site.data.conf.poster-voting.show %}
                <a class="btn btn-primary float-right" href="{{ site.data.conf.poster-voting.url }}">Vote!</a>
            {% endif %}
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {% for poster in site.data.poster-proposals %}
            <div class="card panel-default">
                <div class="card-header" role="tab" id="{{ poster.slug }}Header">
                    <h4 class="card-title">
                        <a role="button" data-toggle="collapse" data-parent="#list-of-talks" href="#{{ poster.slug }}" aria-expanded="true" aria-controls="{{ poster.slug }}">
                            {{ poster.poster-title }}
                        </a>
                    </h4>
                </div>
                <div id="{{ poster.slug }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="{{ poster.slug }}Header">
                    <div class="card-body">
                        <p>{{ poster.abstract }}<p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
